<%- include ('partials/header.ejs') %>

    <%- include ('partials/main_nav.ejs') %>




        <main class="container">

            <div class="jumbotron">

                <h1 class="display-4">Welcome to <%= title %> page</h1>
                <h2>Explore My Projects</h2>
                <p>
                    Here you can discover a diverse range of projects I've had the
                    privilege to create. Each
                    project reflects my passion for technology and innovation.
                </p>

                <strong> Estate Website</strong>: Experience seamless property browsing on my real estate website.
                Whether you're
                a buyer or seller,
                this platform provides an intuitive interface to explore properties, make inquiries, and connect
                with real estate
                professionals.<br>

                <strong>Sneakers Game</strong>: Get ready for a thrilling experience in the online sneakers game. With
                just four
                clicks, you'll witness
                the sneakers' acceleration, adding an extra layer of excitement to your gaming adventure.
                <br>

                <strong>Interactive Slideshow Website</strong>: Immerse yourself in captivating stories through my
                interactive
                slideshow website. I've
                crafted immersive narratives that come to life as you navigate through each slide, creating an
                engaging and memorable
                journey.
                <br>

                <strong>Multiplication Table Generator:</strong> Simplify mathematics with my multiplication table
                generator. This
                handy tool empowers
                educators and learners to create custom multiplication tables, making math education both fun and
                efficient.
                <br>

                <strong>JSON File Converter:</strong> In the world of data, versatility is key. My JSON file converter
                facilitates
                seamless data
                transformation, allowing you to work with JSON data effortlessly and efficiently.
                <br>
                <p>
                    Each project showcases my dedication to problem-solving, creativity, and technical expertise. I
                    invite you to explore
                    these endeavors and witness the intersection of technology and innovation.
                </p>
                <div class="gallery">
                    <a target="_blank" href="/img/game.jpg">
                        <img src="/img/game.jpg" alt="Cinque Terre" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="/img/slides.png">
                        <img src="/img/slides.png" alt="Forest" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="img/multiply2.png">
                        <img src="/img/multiply2.png" alt="Northern Lights" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>

                <div class="gallery">
                    <a target="_blank" href="/img/properties.jpg">
                        <img src="/img/properties.jpg" alt="Mountains" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                </div>
            </div>

        </main>

        <!--bottom nav-->

        <!--script section-->

        <%- include ('partials/bottom_nav.ejs') %>

            <%- include ('partials/footer.ejs') %>